:root{
    /* CSS HEX */
    --black: #000000ff;
    --oxford-blue: #14213dff;
    --orange-web: #fca311ff;
    --platinum: #e5e5e5ff;
    --white: #ffffffff;

    /* CSS HEX */
    --rich-black-fogra-39: #0b090aff;
    --eerie-black: #161a1dff;
    --blood-red: #660708ff;
    --ruby-red: #a4161aff;
    --carnelian: #ba181bff;
    --imperial-red: #e5383bff;
    --black-shadows: #b1a7a6ff;
    --light-gray: #d3d3d3ff;
    --cultured: #f5f3f4ff;
    --white: #ffffffff;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #fca311 #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: #14213d;
}

*::-webkit-scrollbar-thumb {
  background-color: #fca311;
  border-radius: 15px;
  border: 0px none #e5e5e5;
}

html{
  height: 100vh;
}

.dropdown-item:hover{
    background-color: #fca311;
}
.body{
    background: linear-gradient(#294174, #000000);
    height: 100%;
	  background-repeat: no-repeat;
    margin: 0;
    background-attachment: fixed;
}

/* Carousel */
.carousel-item{
    height: 32rem;
    background: #777;
    color: #fff;
    position: relative;
}
#container-carousel{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}