:root{
    /* CSS HEX */
    --black: #000000ff;
    --oxford-blue: #14213dff;
    --orange-web: #fca311ff;
    --platinum: #e5e5e5ff;
    --white: #ffffffff;

    /* CSS HEX */
    --rich-black-fogra-39: #0b090aff;
    --eerie-black: #161a1dff;
    --blood-red: #660708ff;
    --ruby-red: #a4161aff;
    --carnelian: #ba181bff;
    --imperial-red: #e5383bff;
    --black-shadows: #b1a7a6ff;
    --light-gray: #d3d3d3ff;
    --cultured: #f5f3f4ff;
    --white: #ffffffff;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #fca311 #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: #14213d;
}

*::-webkit-scrollbar-thumb {
  background-color: #fca311;
  border-radius: 15px;
  border: 0px none #e5e5e5;
}

*{
  font-family: 'Roboto', sans-serif;
}

html{
  height: 100vh;
  
}

body{
    
    height: 100%;
	  background-repeat: no-repeat;
    margin: 0;
    background-attachment: fixed;
}
li {
  list-style: none;
}
.body{
  background: linear-gradient(#294174, #000000);
}
.font-12{
  font-size: 12px;
}
.font-14{
  font-size: 14px;
}
.font-16{
  font-size: 16px;
}
.font-24{
  font-size: 24px;
}

.nav-item a:hover{
  color: #fca311 !important;
}

a.dropdown-item:hover{
  background-color: #fca311 !important;
  color: #f4f4f4 !important;
}

/* Carousel */
.carousel-item{
    height: 32rem;
    background: #777;
    color: #fff;
    position: relative;
}

#home-rank{
  background-image: url(../content/images/background/background_01.jpg);
  height: 100%;
}

.owl-nav{
  position: absolute;
  top: -3rem;
  right: 0;
}
.owl-nav img{
  width: 26px;
  margin-right: 5px;
}
.owl-nav .owl-prev, 
.owl-nav .owl-next{
  outline: none;
  opacity: 0.6;
  transition: all .5s ease;
} 

.owl-nav .owl-prev:hover, 
.owl-nav .owl-next:hover{
  background: none !important;
  outline: none !important;
  opacity: 1;
  
}