<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Raff Cup | Calendario</title>
    <!-- Styles -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">

    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Header - Start-->
    <header>
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid px-5">
                <section class="float-start">
                    <a class="navbar-brand text-white a-hover" href="./index.html">World Raff Cup</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                </section>
                <section class="float-end">
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="./index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="./calendario.html">Calendario</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="./noticias.html">Notícias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="./resultado.html">Resultados</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Classificações
                            </a>
                            <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item text-white" href="./fase-de-grupo.html">Fase de Grupo</a></li>
                            <li><a class="dropdown-item text-white" href="./ranking.html">Ranking</a></li>
                            </ul>
                        </li>
                        </ul>
                    </div>
                </section>
            </div>
        </nav>    
    </header>
    <!-- Header - End-->

    <main class="body">

        <div class="container">
            <div class="row py-5">
                <h1 class="text-white mb-4">Calendario das Partidas</h1>
                <div class="col-lg-9 col-md-7 mt-2 mb-5"> 
                <!-- Date - Start -->
                <div class="row px-4 mb-2">
                    <div class="col-md-12 bg-primary px-4 text-light rounded-top">
                        <h4 class="mb-0 py-2">24 May, 2020 | <span class="font-16">WORLD CUP</span></h4>
                    </div>
                </div>
                <!-- Day - Start-->
                <div class="row px-4 my-2">
                    <div class="col-md-12 rounded-2 rounded-bottom border-bottom">
                        <div class="row bg-dark pt-5 text-light">
                            <div class="col-sm-4 d-flex justify-content-center text-center">
                                <div class="my-2"> <strong>Senegal</strong> <img src="../content/images/countries/Senegal.png" alt=""> </div>
                              </div>
                              <div class="col-sm-4 d-flex justify-content-center text-center">
                                <div class="nms-info mt-3"> 
                                  <strong class="px-3 py-1 border border-opacity-50 rounded-4 bg-secondary bg-opacity-10 text-primary font-12">
                                      VS
                                  </strong>
                                  <p class="my-1 mt-2 font-16 text-primary"><strong>World Cup</strong></p>
                                  <p class="mb-0 font-12 text-primary"><strong>Grupo A</strong></p>
                                  <p class="mb-2 font-12 text-primary">Rodada 1</p>
                                </div>
                              </div>
                              <div class="col-sm-4 d-flex justify-content-center text-center">
                                <div class="my-2"><img src="../content/images/countries/Holanda.png" alt=""> <strong>Holanda</strong> </div>
                              </div>
                              <div class="row">
                                <div class="col-md-12 d-flex justify-content-center text-center">
                                    <div class="nms-info my-3 "> 
                                        <p class="font-14 m-0">21 Nov, 2022 | 07:00 AM GMT-3</p>
                                        <p class="font-14 mb-3"><a href="#" class="font-14 text-primary" style="text-decoration: none;">Al Thumama Stadium</a>, Al Thumama</p>
                                        <a href="#" class="btn btn-primary">Ver Calendario</a> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="row px-4 my-2">
                    <div class="col-md-12 rounded-2 rounded-bottom border-bottom">
                        <div class="row bg-dark pt-5 text-light">
                            <div class="col-sm-4 d-flex justify-content-center text-center">
                                <div class="my-2"> <strong>Senegal</strong> <img src="../content/images/countries/Senegal.png" alt=""> </div>
                              </div>
                              <div class="col-sm-4 d-flex justify-content-center text-center">
                                <div class="nms-info mt-3"> 
                                  <strong class="px-3 py-1 border border-opacity-50 rounded-4 bg-secondary bg-opacity-10 text-primary font-12">
                                      VS
                                  </strong>
                                  <p class="my-1 mt-2 font-16 text-primary"><strong>World Cup</strong></p>
                                  <p class="mb-0 font-12 text-primary"><strong>Grupo A</strong></p>
                                  <p class="mb-2 font-12 text-primary">Rodada 1</p>
                                </div>
                              </div>
                              <div class="col-sm-4 d-flex justify-content-center text-center">
                                <div class="my-2"><img src="../content/images/countries/Holanda.png" alt=""> <strong>Holanda</strong> </div>
                              </div>
                              <div class="row">
                                <div class="col-md-12 d-flex justify-content-center text-center">
                                    <div class="nms-info my-3 "> 
                                        <p class="font-14 m-0">21 Nov, 2022 | 07:00 AM GMT-3</p>
                                        <p class="font-14 mb-3"><a href="#" class="font-14 text-primary" style="text-decoration: none;">Al Thumama Stadium</a>, Al Thumama</p>
                                        <a href="#" class="btn btn-primary">Ver Calendario</a> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="row px-4 my-2">
                    <div class="col-md-12 rounded-2 rounded-bottom border-bottom">
                        <div class="row bg-dark pt-5 text-light">
                            <div class="col-sm-4 d-flex justify-content-center text-center">
                                <div class="my-2"> <strong>Senegal</strong> <img src="../content/images/countries/Senegal.png" alt=""> </div>
                              </div>
                              <div class="col-sm-4 d-flex justify-content-center text-center">
                                <div class="nms-info mt-3"> 
                                  <strong class="px-3 py-1 border border-opacity-50 rounded-4 bg-secondary bg-opacity-10 text-primary font-12">
                                      VS
                                  </strong>
                                  <p class="my-1 mt-2 font-16 text-primary"><strong>World Cup</strong></p>
                                  <p class="mb-0 font-12 text-primary"><strong>Grupo A</strong></p>
                                  <p class="mb-2 font-12 text-primary">Rodada 1</p>
                                </div>
                              </div>
                              <div class="col-sm-4 d-flex justify-content-center text-center">
                                <div class="my-2"><img src="../content/images/countries/Holanda.png" alt=""> <strong>Holanda</strong> </div>
                              </div>
                              <div class="row">
                                <div class="col-md-12 d-flex justify-content-center text-center">
                                    <div class="nms-info my-3 "> 
                                        <p class="font-14 m-0">21 Nov, 2022 | 07:00 AM GMT-3</p>
                                        <p class="font-14 mb-3"><a href="#" class="font-14 text-primary" style="text-decoration: none;">Al Thumama Stadium</a>, Al Thumama</p>
                                        <a href="#" class="btn btn-primary">Ver Calendario</a> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="row px-4 mb-2">
                    <div class="col-md-12 bg-primary px-4 text-light rounded-top">
                        <h4 class="mb-0 py-2">24 May, 2020 | <span class="font-16">WORLD CUP</span></h4>
                    </div>
                </div>
                <!-- Day - Start-->
                <div class="row px-4 my-2">
                    <div class="col-md-12 rounded-2 rounded-bottom border-bottom">
                        <div class="row bg-dark pt-5 text-light">
                            <div class="col-sm-4 d-flex justify-content-center text-center">
                                <div class="my-2"> <strong>Senegal</strong> <img src="../content/images/countries/Senegal.png" alt=""> </div>
                              </div>
                              <div class="col-sm-4 d-flex justify-content-center text-center">
                                <div class="nms-info mt-3"> 
                                  <strong class="px-3 py-1 border border-opacity-50 rounded-4 bg-secondary bg-opacity-10 text-primary font-12">
                                      VS
                                  </strong>
                                  <p class="my-1 mt-2 font-16 text-primary"><strong>World Cup</strong></p>
                                  <p class="mb-0 font-12 text-primary"><strong>Grupo A</strong></p>
                                  <p class="mb-2 font-12 text-primary">Rodada 1</p>
                                </div>
                              </div>
                              <div class="col-sm-4 d-flex justify-content-center text-center">
                                <div class="my-2"><img src="../content/images/countries/Holanda.png" alt=""> <strong>Holanda</strong> </div>
                              </div>
                              <div class="row">
                                <div class="col-md-12 d-flex justify-content-center text-center">
                                    <div class="nms-info my-3 "> 
                                        <p class="font-14 m-0">21 Nov, 2022 | 07:00 AM GMT-3</p>
                                        <p class="font-14 mb-3"><a href="#" class="font-14 text-primary" style="text-decoration: none;">Al Thumama Stadium</a>, Al Thumama</p>
                                        <a href="#" class="btn btn-primary">Ver Calendario</a> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <!-- Day - End-->
                <!-- Date - End -->
                
              </div>
              <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 bg-primary text-light rounded-top py-2">
                                <h5 class="mb-0">Noticias</h5>
                            </div>
                        </div>
                        <div class="row bg-dark">
                            <div class="col-md-12">
                                <a href="#" style="text-decoration: none;">
                                    <div class="card my-3 text-light border-0 rounded-0" style="background-color: #444;">
                                        <img src="../content/images/news/news_02.jpg" alt="Imagem da noticia">
                                        <div class="card-body">
                                            <small class="font-12">27 Julho, 2022</small>
                                            <h5>Titulo</h5>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" style="text-decoration: none;">
                                    <div class="card my-3 text-light border-0 rounded-0" style="background-color: #444;">
                                        <img src="../content/images/news/news_01.jpg" alt="Imagem da noticia">
                                        <div class="card-body">
                                            <small class="font-12">27 Julho, 2022</small>
                                            <h5>Titulo</h5>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="btn btn-primary float-end mb-3">Mais Noticias</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            </div>
        </div>
        
    </main>

    <!-- Footer -->
    <div class="container-fluid bg-dark">
        <div class="container text-white">
            <footer class="pt-5">
                <div class="row text-primary">
                <div class="col-md-4 mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">About</a></li>
                    </ul>
                </div>
            
                <div class="col-md-4 mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">About</a></li>
                    </ul>
                </div>
            
                <div class="col-md-4 mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">About</a></li>
                    </ul>
                </div>
                </div>
            
                <div class="d-flex flex-column flex-sm-row justify-content-between py-4  border-top">
                <p>© 2022 World Raff Cup, Inc. All rights reserved.</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-light text-white" href="https://github.com/NKRaff"><img src="../content/images/icons/Github.svg" alt="Github" height="24px" width="24px"></a></li>
                    <li class="ms-3"><a class="link-light text-white" href="https://twitter.com/RaffNK"><img src="../content/images/icons/Twitter.svg" alt="Twitter" height="24px" width="24px"></a></li>
                    <li class="ms-3"><a class="link-light text-white" href="https://www.instagram.com/nk_raff/"><img src="../content/images/icons/Instagram.svg" alt="Instagram" height="24px" width="24px"></a></li>
                    <li class="ms-3"><a class="link-light text-white" href="https://www.reddit.com/user/Only_Raff"><img src="../content/images/icons/Reddit.svg" alt="Facebook" height="24px" width="24px"></a></li>
                </ul>
                </div>
            </footer>
        </div>
    </div>

    <!-- Scripts -->
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/fontawesome.min.js"></script>
    <script src="../js/scripts.js"></script>
    
</body>
</html>