<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Raff Cup</title>
    <!-- Styles -->
    <link rel="stylesheet" href="../css/boostrap.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid px-5">
                <section class="float-start">
                    <a class="navbar-brand text-white" href="./index.html">World Raff Cup</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                </section>
                <section class="float-end">
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="./index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Partidas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Notícias</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Classificações
                            </a>
                            <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item text-white" href="./fase-de-grupo.html">Fase de Grupo</a></li>
                            <li><a class="dropdown-item text-white" href="./fase-final.html">Fase Final</a></li>
                            </ul>
                        </li>
                        </ul>
                    </div>
                </section>
            </div>
        </nav>    
    </header>

    <div class="body">
        <div class="container">
            <div class="row pt-5">
                    <h4 class="text-primary">Grupo A</h4>
                    <table class="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th scope="col" class="col-md-8">Equipe</th>
                                <th scope="col" class="text-center">Pts</th>
                                <th scope="col" class="text-center">PJ</th>
                                <th scope="col" class="text-center">VIT</th>
                                <th scope="col" class="text-center">E</th>
                                <th scope="col" class="text-center">DER</th>
                                <th scope="col" class="text-center">GP</th>
                                <th scope="col" class="text-center">GC</th>
                                <th scope="col" class="text-center">SG</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    1
                                    <img src="../images/Contents/Paises/Catar.png" alt="">
                                    Catar
                                </th>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    1
                                    <img src="../images/Contents/Paises/Equador.png" alt="">
                                    Catar
                                </th>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    1
                                    <img src="../images/Contents/Paises/Senegal.png" alt="">
                                    Catar
                                </th>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    1
                                    <img src="../images/Contents/Paises/Holanda.png" alt="">
                                    Catar
                                </th>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
            
            <div class="row pt-2">
                <h4 class="text-primary">Grupo A</h4>
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th scope="col" class="col-md-8">Equipe</th>
                            <th scope="col" class="text-center">Pts</th>
                            <th scope="col" class="text-center">PJ</th>
                            <th scope="col" class="text-center">VIT</th>
                            <th scope="col" class="text-center">E</th>
                            <th scope="col" class="text-center">DER</th>
                            <th scope="col" class="text-center">GP</th>
                            <th scope="col" class="text-center">GC</th>
                            <th scope="col" class="text-center">SG</th>
                        </tr>
                    </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    1
                                    <img src="../images/Contents/Paises/Catar.png" alt="">
                                    Catar
                                </th>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    1
                                    <img src="../images/Contents/Paises/Equador.png" alt="">
                                    Catar
                                </th>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    1
                                    <img src="../images/Contents/Paises/Senegal.png" alt="">
                                    Catar
                                </th>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    1
                                    <img src="../images/Contents/Paises/Holanda.png" alt="">
                                    Catar
                                </th>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                            </tr>
                        </tbody>
                    </table>
                              
            </div>

            <div class="row pt-2">
                <h4 class="text-primary">Grupo A</h4>
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th scope="col" class="col-md-8">Equipe</th>
                            <th scope="col" class="text-center">Pts</th>
                            <th scope="col" class="text-center">PJ</th>
                            <th scope="col" class="text-center">VIT</th>
                            <th scope="col" class="text-center">E</th>
                            <th scope="col" class="text-center">DER</th>
                            <th scope="col" class="text-center">GP</th>
                            <th scope="col" class="text-center">GC</th>
                            <th scope="col" class="text-center">SG</th>
                        </tr>
                    </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    1
                                    <img src="../images/Contents/Paises/Catar.png" alt="">
                                    Catar
                                </th>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    1
                                    <img src="../images/Contents/Paises/Equador.png" alt="">
                                    Catar
                                </th>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    1
                                    <img src="../images/Contents/Paises/Senegal.png" alt="">
                                    Catar
                                </th>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    1
                                    <img src="../images/Contents/Paises/Holanda.png" alt="">
                                    Catar
                                </th>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                            </tr>
                        </tbody>
                    </table>
                              
            </div>

            <div class="row pt-2">
                <h4 class="text-primary">Grupo A</h4>
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th scope="col" class="col-md-8">Equipe</th>
                            <th scope="col" class="text-center">Pts</th>
                            <th scope="col" class="text-center">PJ</th>
                            <th scope="col" class="text-center">VIT</th>
                            <th scope="col" class="text-center">E</th>
                            <th scope="col" class="text-center">DER</th>
                            <th scope="col" class="text-center">GP</th>
                            <th scope="col" class="text-center">GC</th>
                            <th scope="col" class="text-center">SG</th>
                        </tr>
                    </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    1
                                    <img src="../images/Contents/Paises/Catar.png" alt="">
                                    Catar
                                </th>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    1
                                    <img src="../images/Contents/Paises/Equador.png" alt="">
                                    Catar
                                </th>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    1
                                    <img src="../images/Contents/Paises/Senegal.png" alt="">
                                    Catar
                                </th>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    1
                                    <img src="../images/Contents/Paises/Holanda.png" alt="">
                                    Catar
                                </th>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                                <td class="text-center align-middle">0</td>
                            </tr>
                        </tbody>
                    </table>
                              
            </div>

            <div class="row pt-2">
                <h4 class="text-primary">Grupo A</h4>
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th scope="col" class="col-md-8">Equipe</th>
                            <th scope="col" class="text-center">Pts</th>
                            <th scope="col" class="text-center">PJ</th>
                            <th scope="col" class="text-center">VIT</th>
                            <th scope="col" class="text-center">E</th>
                            <th scope="col" class="text-center">DER</th>
                            <th scope="col" class="text-center">GP</th>
                            <th scope="col" class="text-center">GC</th>
                            <th scope="col" class="text-center">SG</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                1
                                <img src="../images/Contents/Paises/Catar.png" alt="">
                                Catar
                            </th>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                1
                                <img src="../images/Contents/Paises/Equador.png" alt="">
                                Catar
                            </th>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                1
                                <img src="../images/Contents/Paises/Senegal.png" alt="">
                                Catar
                            </th>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                1
                                <img src="../images/Contents/Paises/Holanda.png" alt="">
                                Catar
                            </th>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                        </tr>
                    </tbody>
                </table>
        </div>
        
        <div class="row pt-2">
            <h4 class="text-primary">Grupo A</h4>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="col-md-8">Equipe</th>
                        <th scope="col" class="text-center">Pts</th>
                        <th scope="col" class="text-center">PJ</th>
                        <th scope="col" class="text-center">VIT</th>
                        <th scope="col" class="text-center">E</th>
                        <th scope="col" class="text-center">DER</th>
                        <th scope="col" class="text-center">GP</th>
                        <th scope="col" class="text-center">GC</th>
                        <th scope="col" class="text-center">SG</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                1
                                <img src="../images/Contents/Paises/Catar.png" alt="">
                                Catar
                            </th>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                1
                                <img src="../images/Contents/Paises/Equador.png" alt="">
                                Catar
                            </th>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                1
                                <img src="../images/Contents/Paises/Senegal.png" alt="">
                                Catar
                            </th>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                1
                                <img src="../images/Contents/Paises/Holanda.png" alt="">
                                Catar
                            </th>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                        </tr>
                    </tbody>
                </table>
                          
        </div>

        <div class="row pt-2">
            <h4 class="text-primary">Grupo A</h4>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="col-md-8">Equipe</th>
                        <th scope="col" class="text-center">Pts</th>
                        <th scope="col" class="text-center">PJ</th>
                        <th scope="col" class="text-center">VIT</th>
                        <th scope="col" class="text-center">E</th>
                        <th scope="col" class="text-center">DER</th>
                        <th scope="col" class="text-center">GP</th>
                        <th scope="col" class="text-center">GC</th>
                        <th scope="col" class="text-center">SG</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                1
                                <img src="../images/Contents/Paises/Catar.png" alt="">
                                Catar
                            </th>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                1
                                <img src="../images/Contents/Paises/Equador.png" alt="">
                                Catar
                            </th>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                1
                                <img src="../images/Contents/Paises/Senegal.png" alt="">
                                Catar
                            </th>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                1
                                <img src="../images/Contents/Paises/Holanda.png" alt="">
                                Catar
                            </th>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                        </tr>
                    </tbody>
                </table>
                          
        </div>

        <div class="row pt-2 pb-5">
            <h4 class="text-primary">Grupo A</h4>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="col-md-8">Equipe</th>
                        <th scope="col" class="text-center">Pts</th>
                        <th scope="col" class="text-center">PJ</th>
                        <th scope="col" class="text-center">VIT</th>
                        <th scope="col" class="text-center">E</th>
                        <th scope="col" class="text-center">DER</th>
                        <th scope="col" class="text-center">GP</th>
                        <th scope="col" class="text-center">GC</th>
                        <th scope="col" class="text-center">SG</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                1
                                <img src="../images/Contents/Paises/Catar.png" alt="">
                                Catar
                            </th>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                1
                                <img src="../images/Contents/Paises/Equador.png" alt="">
                                Catar
                            </th>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                1
                                <img src="../images/Contents/Paises/Senegal.png" alt="">
                                Catar
                            </th>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                1
                                <img src="../images/Contents/Paises/Holanda.png" alt="">
                                Catar
                            </th>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                            <td class="text-center align-middle">0</td>
                        </tr>
                    </tbody>
                </table>
                          
        </div>
    </div>

    <!-- Scripts -->
    <script src="../js/boostrap.js"></script>
</body>
</html>