<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Raff Cup | Resultados</title>
    <!-- Styles -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">

    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Header - Start-->
    <header>
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid px-5">
                <section class="float-start">
                    <a class="navbar-brand text-white a-hover" href="./index.html">World Raff Cup</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                </section>
                <section class="float-end">
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="./index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="./calendario.html">Calendario</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="./noticias.html">Notícias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="./resultado.html">Resultados</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Classificações
                            </a>
                            <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item text-white" href="./fase-de-grupo.html">Fase de Grupo</a></li>
                            <li><a class="dropdown-item text-white" href="./ranking.html">Ranking</a></li>
                            </ul>
                        </li>
                        </ul>
                    </div>
                </section>
            </div>
        </nav>    
    </header>
    <!-- Header - End-->

    <main>
        <div class="container">
            <div class="row py-5">
                <h1 class="text-white mb-4">Resultados das Partidas</h1>
                <div class="col-md-9">
                    <!--Date - Start-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row px-4 mb-2">
                                <div class="col-md-12 bg-primary px-4 text-light rounded-top">
                                    <h4 class="mb-0 py-2">24 May, 2020 | <span class="font-16">WORLD CUP</span></h4>
                                </div>
                            </div>
                            <!-- Game - Start -->
                            <div class="row px-4 my-2">
                                <div class="col-md-12 rounded-2 rounded-bottom border-bottom">
                                    <div class="row bg-dark pt-5 text-light">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center">
                                                            <img src="../content/images/countries/Alemanha.png" alt="" class="border-bottom pb-2 mb-2">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center">
                                                            <strong>Alemanha</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 px-4">
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center my-2">
                                                            <h5 class="px-3 py-3 bg-primary text-black">2</h5>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center">
                                                            <h6>LOSS</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row text-center mt-4 mb-2">
                                                <small>Charlie Darren <span class="text-primary">(1 Gol)</span></small>
                                                <small>kevin Jamie <span class="text-primary">(1 Gol)</span></small>
                                            </div>
                                        </div>
                                        <div class="col-md-4 d-flex align-items-center justify-content-center">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-12 text-center">
                                                            <h5><strong class="text-primary">WORLD CUP</strong></h5>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 text-center border-bottom font-14">
                                                            <p class="mb-0">Grupo A</p>
                                                            <p>Rodada 1</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-6 px-4">
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center my-2">
                                                            <h5 class="px-3 py-3 bg-primary text-black">3</h5>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center">
                                                            <h6>VITORIA</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center">
                                                            <img src="../content/images/countries/Argentina.png" alt="" class="border-bottom pb-2 mb-2">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center">
                                                            <strong>Argentina</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row text-center mt-4 mb-2">
                                                <small>Charlie Darren <span class="text-primary">(1 Gol)</span></small>
                                                <small>kevin Jamie <span class="text-primary">(1 Gol)</span></small>
                                                <small>Charlie Jamie <span class="text-primary">(1 Gol)</span></small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row bg-dark pb-5 text-light">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4 text-center font-14">
                                            <p class="mb-0">17 October, 2020</p>
                                            <p>New Expo Stadium, NYK</p>
                                            <a href="" class="btn btn-primary">Detalhes da Pardida</a>
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row px-4 my-2">
                                <div class="col-md-12 rounded-2 rounded-bottom border-bottom">
                                    <div class="row bg-dark pt-5 text-light">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center">
                                                            <img src="../content/images/countries/Alemanha.png" alt="" class="border-bottom pb-2 mb-2">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center">
                                                            <strong>Alemanha</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 px-4">
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center my-2">
                                                            <h5 class="px-3 py-3 bg-primary text-black">2</h5>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center">
                                                            <h6>LOSS</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row text-center mt-4 mb-2">
                                                <small>Charlie Darren <span class="text-primary">(1 Gol)</span></small>
                                                <small>kevin Jamie <span class="text-primary">(1 Gol)</span></small>
                                            </div>
                                        </div>
                                        <div class="col-md-4 d-flex align-items-center justify-content-center">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-12 text-center">
                                                            <h5><strong class="text-primary">WORLD CUP</strong></h5>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 text-center border-bottom font-14">
                                                            <p class="mb-0">Grupo A</p>
                                                            <p>Rodada 1</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-6 px-4">
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center my-2">
                                                            <h5 class="px-3 py-3 bg-primary text-black">3</h5>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center">
                                                            <h6>VITORIA</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center">
                                                            <img src="../content/images/countries/Argentina.png" alt="" class="border-bottom pb-2 mb-2">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center">
                                                            <strong>Argentina</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row text-center mt-4 mb-2">
                                                <small>Charlie Darren <span class="text-primary">(1 Gol)</span></small>
                                                <small>kevin Jamie <span class="text-primary">(1 Gol)</span></small>
                                                <small>Charlie Jamie <span class="text-primary">(1 Gol)</span></small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row bg-dark pb-5 text-light">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4 text-center font-14">
                                            <p class="mb-0"> October, 2020</p>
                                            <p>New Expo Stadium, NYK</p>
                                            <a href="" class="btn btn-primary">Detalhes da Pardida</a>
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Game - End -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mt-3">
                            <div class="row px-4 mb-2">
                                <div class="col-md-12 bg-primary px-4 text-light rounded-top">
                                    <h4 class="mb-0 py-2">24 May, 2020 | <span class="font-16">WORLD CUP</span></h4>
                                </div>
                            </div>
                            <!-- Game - Start -->
                            <div class="row px-4 my-2">
                                <div class="col-md-12 rounded-2 rounded-bottom border-bottom">
                                    <div class="row bg-dark pt-5 text-light">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center">
                                                            <img src="../content/images/countries/Alemanha.png" alt="" class="border-bottom pb-2 mb-2">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center">
                                                            <strong>Alemanha</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 px-4">
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center my-2">
                                                            <h5 class="px-3 py-3 bg-primary text-black">2</h5>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center">
                                                            <h6>LOSS</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row text-center mt-4 mb-2">
                                                <small>Charlie Darren <span class="text-primary">(1 Gol)</span></small>
                                                <small>kevin Jamie <span class="text-primary">(1 Gol)</span></small>
                                            </div>
                                        </div>
                                        <div class="col-md-4 d-flex align-items-center justify-content-center">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-12 text-center">
                                                            <h5><strong class="text-primary">WORLD CUP</strong></h5>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 text-center border-bottom font-14">
                                                            <p class="mb-0">Grupo A</p>
                                                            <p>Rodada 1</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-6 px-4">
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center my-2">
                                                            <h5 class="px-3 py-3 bg-primary text-black">3</h5>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center">
                                                            <h6>VITORIA</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center">
                                                            <img src="../content/images/countries/Argentina.png" alt="" class="border-bottom pb-2 mb-2">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center">
                                                            <strong>Argentina</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row text-center mt-4 mb-2">
                                                <small>Charlie Darren <span class="text-primary">(1 Gol)</span></small>
                                                <small>kevin Jamie <span class="text-primary">(1 Gol)</span></small>
                                                <small>Charlie Jamie <span class="text-primary">(1 Gol)</span></small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row bg-dark pb-5 text-light">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4 text-center font-14">
                                            <p class="mb-0">17 October, 2020</p>
                                            <p>New Expo Stadium, NYK</p>
                                            <a href="" class="btn btn-primary">Detalhes da Pardida</a>
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row px-4 my-2">
                                <div class="col-md-12 rounded-2 rounded-bottom border-bottom">
                                    <div class="row bg-dark pt-5 text-light">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center">
                                                            <img src="../content/images/countries/Alemanha.png" alt="" class="border-bottom pb-2 mb-2">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center">
                                                            <strong>Alemanha</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 px-4">
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center my-2">
                                                            <h5 class="px-3 py-3 bg-primary text-black">2</h5>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center">
                                                            <h6>LOSS</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row text-center mt-4 mb-2">
                                                <small>Charlie Darren <span class="text-primary">(1 Gol)</span></small>
                                                <small>kevin Jamie <span class="text-primary">(1 Gol)</span></small>
                                            </div>
                                        </div>
                                        <div class="col-md-4 d-flex align-items-center justify-content-center">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-12 text-center">
                                                            <h5><strong class="text-primary">WORLD CUP</strong></h5>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 text-center border-bottom font-14">
                                                            <p class="mb-0">Grupo A</p>
                                                            <p>Rodada 1</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-6 px-4">
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center my-2">
                                                            <h5 class="px-3 py-3 bg-primary text-black">3</h5>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center">
                                                            <h6>VITORIA</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center">
                                                            <img src="../content/images/countries/Argentina.png" alt="" class="border-bottom pb-2 mb-2">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 d-flex align-items-center justify-content-center">
                                                            <strong>Argentina</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row text-center mt-4 mb-2">
                                                <small>Charlie Darren <span class="text-primary">(1 Gol)</span></small>
                                                <small>kevin Jamie <span class="text-primary">(1 Gol)</span></small>
                                                <small>Charlie Jamie <span class="text-primary">(1 Gol)</span></small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row bg-dark pb-5 text-light">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4 text-center font-14">
                                            <p class="mb-0">17 October, 2020</p>
                                            <p>New Expo Stadium, NYK</p>
                                            <a href="" class="btn btn-primary">Detalhes da Pardida</a>
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Game - End -->
                        </div>
                    </div>
                    <!--Date - End-->
                </div>

                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12 bg-primary text-light rounded-top py-2">
                            <h5 class="mb-0">Noticias</h5>
                        </div>
                    </div>
                    <div class="row bg-dark">
                        <div class="col-md-12">
                            <a href="#" style="text-decoration: none;">
                                <div class="card my-3 text-light border-0 rounded-0" style="background-color: #444;">
                                    <img src="../content/images/news/news_02.jpg" alt="Imagem da noticia">
                                    <div class="card-body">
                                        <small class="font-12">27 Julho, 2022</small>
                                        <h5>Titulo</h5>
                                    </div>
                                </div>
                            </a>
                            <a href="#" style="text-decoration: none;">
                                <div class="card my-3 text-light border-0 rounded-0" style="background-color: #444;">
                                    <img src="../content/images/news/news_01.jpg" alt="Imagem da noticia">
                                    <div class="card-body">
                                        <small class="font-12">27 Julho, 2022</small>
                                        <h5>Titulo</h5>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="btn btn-primary float-end mb-3">Mais Noticias</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <div class="container-fluid bg-dark">
        <div class="container text-white">
            <footer class="pt-5">
                <div class="row text-primary">
                <div class="col-md-4 mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">About</a></li>
                    </ul>
                </div>
            
                <div class="col-md-4 mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">About</a></li>
                    </ul>
                </div>
            
                <div class="col-md-4 mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0">About</a></li>
                    </ul>
                </div>
                </div>
            
                <div class="d-flex flex-column flex-sm-row justify-content-between py-4  border-top">
                <p>© 2022 World Raff Cup, Inc. All rights reserved.</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-light text-white" href="https://github.com/NKRaff"><img src="../content/images/icons/Github.svg" alt="Github" height="24px" width="24px"></a></li>
                    <li class="ms-3"><a class="link-light text-white" href="https://twitter.com/RaffNK"><img src="../content/images/icons/Twitter.svg" alt="Twitter" height="24px" width="24px"></a></li>
                    <li class="ms-3"><a class="link-light text-white" href="https://www.instagram.com/nk_raff/"><img src="../content/images/icons/Instagram.svg" alt="Instagram" height="24px" width="24px"></a></li>
                    <li class="ms-3"><a class="link-light text-white" href="https://www.reddit.com/user/Only_Raff"><img src="../content/images/icons/Reddit.svg" alt="Facebook" height="24px" width="24px"></a></li>
                </ul>
                </div>
            </footer>
        </div>
    </div>

    <!-- Scripts -->
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/fontawesome.min.js"></script>
    <script src="../js/scripts.js"></script>
    
</body>
</html>